PORT=8000
MONGO_URI=
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SIGNING_SECRET=
JWT_SECRET=
OWNER_PASSWORD_HASH=
OWNER_EMAIL=faithgrace.website@gmail.com,gnigriel@yahoo.com
OWNER_PHONE=18622129328
OWNER_PHONE_DISPLAY=+1 862-212-9328
RESEND_API_KEY=
EMAIL_FROM=Faith & Grace <orders@graceefaith.com>
SITE_URL=http://localhost:5173
RESTAURANT_NAME=Faith & Grace
